.flex {
	display: flex;
    justify-content: flex-start;
}
section{
    display: flex ;
    flex-direction: column;
    width: 100%;
    align-self: center;
}

h1{
    display: flex;
}

.cadastro__descricao {
    height: 15.75rem;
}

.cadastro__preco-container, .cadastro__descricao-container {
    width: 50%;
}


.cabecalho {
    background-color: var(--cor-contraste-claro);
    border-radius: 0 0 10px 10px;
    box-shadow: var(--sombra);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.75rem;
    margin-bottom: 2rem;
}

.cabecalho__logo {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    padding-top: 25px;
    
}

.cabecalho__lista-navegacao {
    display: flex;
}

.cabecalho__link {
    margin-left: 1rem;
    font-size: 18px;
}
.cartao {
    background-color: #f1f0f1;
    border-radius: 5px;
    width: 70%;
    padding: 1.3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
  
    margin-top: 30px;
    justify-content: space-between;
}

.cartao__titulo {
    font-size: 25px;
    margin-bottom: 0.5rem;
    display: flex;
    font-weight: bold;
}

.titulo {
    background-color: var(--cor-contraste-claro);
    border-radius: 10px;
    box-shadow: var(--sombra);
    width: 100%;
    max-width: 20rem;
    padding: 1.75rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.titulo__cartao {
    font-size: var(--fonte-tamanho-cartao-titulo);
    margin-bottom: 1rem;
}
.cadastro {
    display: flex;
    flex-direction: flex;
}

.cadastro-cabecalho__titulo {
    font-family: var(--fonte-familia-logo);
    font-size: var(--fonte-tamanho-logo);
    margin-top: 70px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.formulario {
    margin-top: 2rem;
}

.formulario__legenda {
    font-size: var(--fonte-tamanho-formulario-fieldset);

    margin-bottom: 1rem;
}

.input-container {
    font-weight: var(--fonte-peso-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--cor-secundaria);
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 100%;
}

.input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);

    transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label, .input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all .25s;
}

.input-container--invalido {
    margin-bottom: 0.5rem;
}

.input-container--invalido .input {
    border: 1px solid var(--cor-aviso);
    border-radius: 7px;
}

.input-container--invalido .input-label {
    color: var(--cor-aviso);
}

.input-mensagem-erro {
    display: none;
}

.input-container--invalido .input-mensagem-erro {
    color: var(--cor-aviso);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.textarea {
    box-sizing: border-box;
    border: 1px solid var(--cor-secundaria);
    padding: 0.5rem;    
    border-radius: 7px;
    width: 100%;
    min-height: 3rem;
}

.textarea-container {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: var(--fonte-peso-input);
}

.textarea::placeholder {
    visibility: hidden;
}

.textarea:focus {
    outline: none;
}

.textarea-label {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: var(--fonte-tamanho-input-label);
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label, .textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: -1.25rem;
    transition: all 0.25s;
}

.textarea-container--invalido {
    margin-bottom: 0.5rem;
}

.textarea-container--invalido .textarea {
    border: 1px solid var(--cor-aviso);
}

.textarea-container--invalido .textarea-label {
    color: var(--cor-aviso);
}

.textarea-mensagem-erro {
    display: none;
}

.textarea-container--invalido .textarea-mensagem-erro {
    display: block;
    color: var(--cor-aviso);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}
.botao {
    display: block;
    background-color:#e2dfd3;
    border-radius: 5px 5px 5px 5px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 20rem;
    padding: 0.5rem;
    box-sizing: border-box;
    color:#3f0d2b;
    font-size: 15px;
    text-align: center;
    margin-right: 1rem;
    border: 0px solid #4a3a00;
    box-shadow: 0px 0px 5px #2e2300;
    font-style: normal;
    text-shadow: 0px -1px 1px #222222;

}


.modal-container {
    text-align: left;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4rem;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s 0.5s ease-in-out;

    }
.modal-container .mostrar {
    display: flex;

}    
.modal:target {
    justify-content: space-around;
    align-items: center;
    display: flex;
    }
     

     
.modal{
    min-width: 300px;
    width: 60%;
    position: relative;
    background-color: #f5f5f5;
    padding: 40px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    border-radius: 3%;
 
}
 
@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mostrar .modal {
    animation: modal .3s;
}
.fechar {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}